@use './mixins' as *;
@use './_variables' as *;

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;

  &--open {
    @include flexcentre;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  &__window {
    @include flexcentre;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background: $header;
    padding: 24px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    z-index: 1;
  }

  &__leader {
    @include flexcentre;
    justify-content: flex-start;
    gap: 10px;
  }

  &__body {
    width: 100%;
  }

  &__new-game,
  &__close {
    transition: all 0.3s ease;
    border: 3px solid $border-color;
    border-radius: 10px;
    color: $text;
    background: $button;
    width: 100px;
    padding: 10px;
    &:hover {
      box-shadow: 0 0 10px $button;
      transform: scale(1.05);
      background: $button-hover;
    }
    &:active {
      transform: scale(0.95);
    }
  }

  &__txt {
    font-weight: 500;
    color: $text;
    text-align: center;
  }
}
